@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: h-screen;
    background-size: cover;
    background-position: center;

}